{{> head }}    
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Sixto José Romero Martínez</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus atque fugiat et quasi officia. Mollitia sequi quis ut necessitatibus earum molestiae, molestias et amet beatae voluptas officiis veritatis magnam corrupti.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/sixto.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}